header {
  background-color: #ee4e34;
  width: 100%;
}

h1 {
  margin: 5% 2% 2.5% 2%;
  font-size: 48px;
  text-align: center;
  border-radius: 8px;
  background-color: #ee4e34;
  padding: 1%;
}

body {
  background-color: #fcedda;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  font-size: large;
}

li {
  margin-left: 30px;
  margin-right: 20px;
  list-style: none;
}

li > a {
  color: black;
  font-size: 35px;
  text-decoration: none;
}

.image-container {
  display: flex;
  margin: 20px 0px;
  font-size: 24px;
  margin-bottom: 5%;
  background-color: #ddd1c0;
  padding: 1%;
  border-radius: 8px;
}

.image-container img {
  width: 75%;
  height: auto;
}

p {
  margin: 20px;
  font-size: 24px;
  margin-top: 1%;
}
